{% load static %}
<form action="{{ url }}" method="post" onsubmit="Dajaxice.warrant.{{ functions }}(Dajax.process, {'valuta':'{{ form.valuta.value }}', 'form':$(this).serialize(true)});$('#ajax-loader').show();$(this).hide();return false;">
<div>
<fieldset>
  <legend>{{ submit }}</legend>
  <div>{{ valuta.bank|default:""|safe }}</div>
  {%  if functions == 'get_form_input_balance' %}
  {% if valuta.commission_inp %}<div>Коммиссия на ввод {{ valuta.commission_inp|floatformat:-8 }}%</div>{% endif %}
  {% if valuta.inp_min_amount %}<div>Минимальная сумма на ввод составляет {{ valuta.inp_min_amount|floatformat:-8 }} {{ valuta }}</div>{% endif %}
  {% endif %}
  {%  if functions == 'get_form_output_balance' %}
  {% if valuta.commission_out %}<div>Коммиссия на вывод {{ valuta.commission_out|floatformat:-8 }}%</div>{% endif %}
  {% if valuta.out_min_amount %}<div>Минимальная сумма на вывод составляет {{ valuta.out_min_amount|floatformat:-8 }} {{ valuta }}</div>{% endif %}
  {% endif %}
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
</fieldset>
</div>
<input type="submit" value="{{ submit }}">
</form>
<img src="{% static 'img/ajax-loader.gif' %}" style="display:none;" id="ajax-loader">
