{% load static %}


<form action="{{ url }}" method="post" onsubmit="Dajaxice.warrant.{{ functions }}(Dajax.process, {'valuta':'{{ form.valuta.value }}', 'form':$(this).serialize(true)});$('#ajax-loader').show();$(this).hide();return false;">
<div>
<fieldset>
  <legend>{{ submit }}</legend>
  {% if paymethods.count > 1 %}<select name="paymethod" onchange="Dajaxice.warrant.{{ functions }}(Dajax.process, {'valuta': '{{ valuta.pk }}', 'paymethod':$(this).val() });">
  {% for pay in paymethods %}
    <option value="{{ pay.pk }}"{% if paymethod.pk == pay.pk %} selected="selected"{% endif %}>{{ pay }}</option>
  {% endfor %}
  </select>
  {% else %}
    {{ paymethods.0 }}
  {% endif %}
{% if form %}
  {%  if functions == 'get_form_input_balance' %}
    {% if form.instance.pk %}<div>{{ paymethod.bank|default:""|safe }}</div>{% endif %}
  {% if paymethod.commission %}<div>Коммиссия на ввод составляет {{ paymethod.commission|floatformat:-2 }}%</div>{% endif %}
  {% if paymethod.min_amount %}<div>Минимальная сумма на ввода {{ paymethod.min_amount|floatformat:-8 }} {{ valuta }}</div>{% endif %}
  {% if paymethod.max_amount %}<div>Максимальная сумма на ввода {{ paymethod.max_amount|floatformat:-8 }} {{ valuta }}</div>{% endif %}
  {% endif %}
  {%  if functions == 'get_form_output_balance' %}
  <div>{{ paymethod.bank|default:""|safe }}</div>
  {% if paymethod.commission %}<div>Коммиссия на вывод составляет {{ paymethod.commission|floatformat:-2 }}%</div>{% endif %}
  {% if paymethod.min_amount %}<div>Минимальная сумма на вывода {{ paymethod.min_amount|floatformat:-8 }} {{ valuta }}</div>{% endif %}
  {% if paymethod.max_amount %}<div>Максимальная сумма на вывода {{ paymethod.max_amount|floatformat:-8 }} {{ valuta }}</div>{% endif %}
  {% endif %}
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
{% endif %}
</fieldset>
</div>
{% if form %}<input type="submit" value="{{ submit }}">{% endif %}
</form>

{% if save_now %}
    <p>Заявка на {{ action }} средств успешно создана.</p>
    <div>{{ instance.paymethod.bank }}</div>
    {% if confirm %}<p><a href="#" onclick="Dajaxice.warrant.{{ functions }}(Dajax.process, {'confirm': 1, 'valuta': '{{ instance.valuta.pk }}'});return false;">Подтвердить оплату</a>,{% endif %}
    <a href="#" onclick="Dajaxice.warrant.{{ functions }}(Dajax.process, {'valuta': '{{ instance.valuta.pk }}', 'edit':'1'});return false;">отредактировать</a>
    заново или <a href="#" onclick="Dajaxice.warrant.{{ functions }}(Dajax.process, {'cancel': 1, 'valuta': '{{ instance.valuta.pk }}'});return false;">отменить</a></p>
{% endif %}

{% if cancel_or_edit %}
    <p>Вы уже создали заявку на {{ action }} средств.</p>
    <div>{{ instance.paymethod.bank }}</div>
    {% if confirm %}<p><a href="#" onclick="Dajaxice.warrant.{{ functions }}(Dajax.process, {'confirm': 1, 'valuta': '{{ instance.valuta.pk }}'});return false;">Подтвердить оплату</a>,{% endif %}
    <a href="#" onclick="Dajaxice.warrant.{{ functions }}(Dajax.process, {'valuta': '{{ instance.valuta.pk }}', 'edit':'1'});return false;">отредактировать</a>
    заново или <a href="#" onclick="Dajaxice.warrant.{{ functions }}(Dajax.process, {'cancel': 1, 'valuta': '{{ instance.valuta.pk }}'});return false;">отменить</a></p>
{% endif %}
<img src="{% static 'img/ajax-loader.gif' %}" style="display:none;" id="ajax-loader">
