{% extends "base.html" %}
{% load i18n static %}

{% block meta %}
<title>{% trans 'Обмен BitCoin, Покупка BitCoin, Продажа BitCoin, Биржа BitCoin, Обменник BitCoin, BitCoin на WMZ, BitCoin Exchange' %}</title>
<meta name="keywords" content="BTC, обмен BTC, биржа BTC, обменник BTC, Bitcoin, биткоин, обмен биткоин, биржа биткоин, обменник биткоин, покупка BTC, продажа BTC, покупка bitcoin, продажа bitcoin, биржа bitcoin, обменник bitcoin">
<meta name="description" content="BTC-E">
{% endblock %}

{% block head %}
<script type="text/javascript">
function a_calc(el, act) {
    balance=Number(el.children.item().textContent.replace(',', '.').replace(/[^0-9\.]+/g,''))
    if(act=='sale'){
        $('#id_'+act+'-amount').val(balance)
    }else{
        $('#id_'+act+'-amount').val(parseFloat(balance / $('#id_'+act+'-rate').val().replace(',', '.')).toFixed(8))
    }
}
function set_price(amount, rate, act) {
    amount = amount.replace(',', '.')
    rate = rate.replace(',', '.')
    $('#id_'+act+'-amount').val(amount);
    $('#id_buy-rate').val(rate);
    $('#id_sale-rate').val(rate);
    Dajaxice.warrant.calc(Dajax.process, {'form':$('#'+act+'_form').serialize(true)});
}
</script>
<style type="text/css">
.usdOrange,
.cursor-pointer
    { cursor:pointer; }
.usdOrange:hover
    { text-decoration:underline; }
</style>
{% endblock %}


{% block content %}

        <div class="btcSpisok">
        	<ul>
{% for pair in pair_list %}
                <li{% if object.pk == pair.pk %} class="activeLi"{% endif %}>
                    <a href="{% url 'exchange' pair.slug %}">{{ pair.tpair }} {{ pair.last_rate }}</a>
                </li>
{% endfor %}
        	</ul>
        </div>









{###############################################}
        <div class="leftBar">
        	
            <div class="burBtcBlock">
            	<span class="zagolovokSp">
                	Купить {{ object.left }}
                </span>
                <div class="yourFundsHead">
                	<div class="leftBlockSec">
                    	<span class="hreySp">
                        	Ваши средства
                        </span>
                        <span class="usdOrange" onclick="a_calc(this, 'buy');">
                        	{{ user.balance_right }}
                        </span>
                    </div>
                    <div class="rightBlockSec">
                    	<span class="hreySp">
                        	Мин цена
                        </span>
                        <span class="usdBlack">
                        	{{ min_max_avg.0 }} {{ object.right }}
                        </span>
                    </div>
                    <div class="clr"></div>
                </div>
                <form action="" method="post" id="buy_form">
                <div class="buyBtcMiddle">
                	<span class="BBtcSp">Количество {{ object.left }}:</span>
                    {{ buy_form.amount }}
                    {#<input type="text" class="buyBtcInp" name="buy_amount" id="buy_amount">#}
                    <span class="BBtcSp">Цена за {{ object.left }}:</span>
                    {{ buy_form.rate }}
                    {{ buy_form.pair }}
                    {#<input type="text" class="buyBtcInp" name="buy_rate" id="buy_rate">#}
                    <div class="BBtcSp">Всего:</div>
                    <div class="btcUsdSp" id="buy_total_result">0 {{ object.right }}</div>
                    <div class="clr"></div>
                    <div class="BBtcSp">Комиссия:</div>
                    <div class="btcUsdSp" id="buy_commission_result">0 {{ object.left }}</div>

                    <div class="clr"></div>
                     <p class="infoBtcP" id="info_buy">
                        Нажмите <span class="blodspan">подсчитать</span>, 
                        чтобы расчитать сумму
						в соответствии с ордерами.
                	</p>
                    <div class="buttonBlock">
                    	<input type="button" value="подсчитать" class="podschBut" onclick="Dajaxice.warrant.calc(Dajax.process, {'form':$('#buy_form').serialize(true)});">
                        <input type="button" value="купить {{ object.left }}" class="buyBtcbut" onclick="Dajaxice.warrant.order(Dajax.process, {'form':$('#buy_form').serialize(true)});">
                    </div>
                    </form>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="orderBlock">
            	<h3>Ордера на продажу</h3>
                <span class="kollSp">Всего: {{ object.in_orders_sum_sell|floatformat:-8 }} {{ object.left }}</span>
                <div class="clr"></div>
                <table class="orderTb orderTbFr">
                	<tbody><tr class="tableheadTr">
                        	<td class="cosrTdd">
                            	Цена
                            </td>
                            <td class="btcTdd">
                            	{{ object.left }}
                            </td>
                            <td>
                            	{{ object.right }}
                            </td>
                        </tr>
                </tbody></table>
                <div class="orderBlockTb">
                	<table class="orderTb">
                        <tbody>
                        {% for rate, amount, total in order_sale %}
                        <tr class="{% cycle 'tableTrrFirst' 'tableTrrSecond' %} cursor-pointer" onclick='set_price("{{ amount }}", "{{ rate }}", "buy");'>
                        	<td class="cosrTdd">
                            	{{ rate|floatformat:-8 }}
                            </td>
                            <td class="btcTdd">
                            	{{ amount|floatformat:-8 }}
                            </td>
                            <td>
                            	{{ total|floatformat:-8 }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody></table>
                </div>
            </div>
        </div>
{###############################################}
<div class="rightBar">
            <div class="burBtcBlock">
            	<span class="zagolovokSp">
                	Продать {{ object.left }}
                </span>
                <div class="yourFundsHead">
                	<div class="leftBlockSec">
                    	<span class="hreySp">
                        	Ваши средства
                        </span>
                        <span class="usdOrange"  onclick="a_calc(this, 'sale');">
                        	{{ user.balance_left }}
                        </span>
                    </div>
                    <div class="rightBlockSec">
                    	<span class="hreySp">
                        	Макс цена
                        </span>
                        <span class="usdBlack">
                        	{{ min_max_avg.1 }} {{ object.right }}
                        </span>
                    </div>
                    <div class="clr"></div>
                </div>
                <form action="." method="post" id="sale_form">
                <div class="buyBtcMiddle">
                	<span class="BBtcSp">Количество {{ object.left }}:</span>
                    {{ sale_form.amount }}
                    {#<input type="text" class="buyBtcInp" name="buy_amount" id="buy_amount">#}
                    <span class="BBtcSp">Цена за {{ object.left }}:</span>
                    {{ sale_form.rate }}
                    {{ sale_form.pair }}

                    <div class="BBtcSp">Всего:</div>
                    <div class="btcUsdSp" id="sale_total_result">0 {{ object.right }}</div>
                    <div class="clr"></div>
                    <div class="BBtcSp">Комиссия:</div>
                    <div class="btcUsdSp" id="sale_commission_result">0 {{ object.right }}</div>
                    <div class="clr"></div>
                     <p class="infoBtcP" id="info_sale">
                        Нажмите <span class="blodspan">подсчитать</span>, 
                        чтобы расчитать сумму
						в соответствии с ордерами.
                	</p>
                    <div class="buttonBlock">
                    	<input type="button" value="подсчитать" class="podschBut" onclick="Dajaxice.warrant.calc(Dajax.process, {'form':$('#sale_form').serialize(true)});">
                        <input type="button" value="продать {{ object.left }}" class="buyBtcbut" onclick="Dajaxice.warrant.order(Dajax.process, {'form':$('#sale_form').serialize(true)});">
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="orderBlock">
            	<h3>Ордера на покупку</h3>
                <span class="kollSp">Всего: {{ object.in_orders_sum_buy|floatformat:-8 }} {{ object.right }}</span>
                <div class="clr"></div>
                <table class="orderTb orderTbFr">
                	<tbody><tr class="tableheadTr">
                        	<td class="cosrTdd">
                            	Цена
                            </td>
                            <td class="btcTdd">
                            	{{ object.left }}
                            </td>
                            <td>
                            	{{ object.right }}
                            </td>
                        </tr>
                </tbody></table>
                <div class="orderBlockTb">
                	<table class="orderTb">
                        <tbody>
                        {% for rate, amount, total in order_buy %}
                        <tr class="{% cycle 'tableTrrFirst' 'tableTrrSecond' %} cursor-pointer" onclick='set_price("{{ amount }}", "{{ rate }}", "sale");'>
                        	<td class="cosrTdd">
                            	{{ rate|floatformat:-8 }}
                            </td>
                            <td class="btcTdd">
                            	{{ amount|floatformat:-8 }}
                            </td>
                            <td>
                            	{{ total|floatformat:-8 }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody></table>
                </div>
            </div>
        </div>
{###############################################}
<div class="clr"></div>

<div class="activeOrderBlock">
        	<h3>Ваши активные ордеры:</h3>
            <table width="100%" class="activeOrderTabb">
                <tbody><tr class="tableheadTr">
                        <td class="tiptdd">Тип</td>
                        <td class="costTdd">Цена</td>
                        <td class="therdTdd">Кол-во {{ object.left }}</td>
                        <td>Всего {{ object.right }}</td>
                        <td>Дата</td>
                        <td>Действия</td>
                    </tr>
{% for updated, type, rate, amount, total, pk in order_actives %}
                    <tr class="{% cycle 'tableTrrFirst' 'tableTrrSecond' %}" id="active_orders_list-{{ pk }}">
                        <td class="costTdd"><span class="{% if type == 'sell' %}buyGreen{% else %}buyRed{% endif %}">{{ type }}</span></td>
                        <td class="therdTdd">{{ rate|floatformat:-8 }} {{ object.right }}</td>
                        <td>{{ amount|floatformat:-8 }} {{ object.left }}</td>
                        <td>{{ total|floatformat:-8 }} {{ object.right }}</td>
                        <td>{{ updated }}</td>
                        <td><a href="{{ pk }}" onclick="Dajaxice.warrant.cancel(Dajax.process, {'pk': '{{ pk }}'}); return false;">отменить</a></td>
                    </tr>
{% empty %}
            <tr>
                <td colspan="6">
                    <span class="emptyOrder">
                        Нет активных ордеров в данный момент.
                    </span>
                </td>
            </tr>
{% endfor %}
            </tbody></table>
        </div>



        <div class="borderBlock">
        	<span class="kommSd">
        		Комиссия на сделки составляет {{ object.commission }}%.
            </span>
            <h3>История сделок</h3>
            <table width="100%" class="activeOrderTabb">
                <tbody><tr class="tableheadTr">
                        <td class="tiptdd">Дата</td>
                        <td class="costTdd">Тип</td>
                        <td class="therdTdd">Цена</td>
                        <td>Кол-во ({{ object.left }})</td>
                        <td>Всего ({{ object.right }})</td>
                    </tr>
{% for updated, type, rate, amount, total, pk in order_history %}
                    <tr class="{% cycle 'tableTrrFirst' 'tableTrrSecond' %}">
                        <td class="tiptdd">{{ forloop.counter }}:{{ pk }} {{ updated }}</td>
                        <td class="costTdd"><span class="{% if type == 'sell' %}buyGreen{% else %}buyRed{% endif %}">{{ type }}</span></td>
                        <td class="therdTdd">{{ rate|floatformat:-8 }} {{ object.right }}</td>
                        <td>{{ amount|floatformat:-8 }} {{ object.left }}</td>
                        <td>{{ total|floatformat:-8 }} {{ object.right }}</td>
                    </tr>
{% endfor %}
            </tbody></table>
        </div>

{% endblock %}


{% block news %}
{% if news %}
    	<div class="zagg">
        	<h1>НОВОСТИ</h1>
        </div>
        <div class="newsBarr">
    {% for n in news %}
        {% include "news/news_item.html" with object=n link=n.pk %}
    {% endfor %}
        </div>
        <div class="clr"></div>
{% endif %}
{% endblock %}
