{% extends "profile.html" %}
{% load i18n widget_tweaks %}

{% block meta %}
<title>{% trans 'история сделок' %}</title>
{% endblock %}
{% block head %}
<style type="text/css">
.content 
    { padding-right: 0px; }
.logInfo
    { width:70%; }
</style>
{% endblock %}

{% block content_profile %}

            <h3>История сделок</h3>
            <table width="100%" class="activeOrderTabb">
                <tbody width="100%"><tr class="tableheadTr">
                        <td>Пара</td>
                        <td>Тип</td>
                        <td>Кол-во</td>
                        <td>Цена</td>
                        <td>Всего</td>
                        <td>Дата</td>
                    </tr>
{% for object in object_list %}
    {% for w_amo_sum, ob in object.transaction %}
                    <tr class="{% cycle 'tableTrrFirst' 'tableTrrSecond' %}">
                        <td>{{ ob.pair }}</td>
                        <td><span class="{% if object.action == 'sale' %}buyGreen{% else %}buyRed{% endif %}">{% if object.action == 'sale' %}Sale{% else %}Buy{% endif %}</span></td>
                        <td>{{ w_amo_sum|floatformat:-8 }} {{ ob.pair.left }}</td>
                        <td>{{ ob.rate|floatformat:-8 }} {{ ob.pair.right }}</td>
                        <td>{{ ob.w_total|floatformat:-8 }} {{ ob.pair.right }}</td>
                        <td>{{ ob.updated|date:"d.m.y H:i" }}</td>
                    </tr>
    {% endfor %}
{% endfor %}
            </tbody></table>
{% include "paginate.html" %}

{% endblock %}
