{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block meta %}
<title>{% trans 'Подтвердите сброса пароля' %}</title>
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
{% trans 'Введите новый пароль ниже, чтобы сбросить пароль' %}:

<form action="." method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label for="id_{{ field.html_name }}" class="col-lg-2 control-label">{{ field.label_tag }}</label>
            <div class="col-lg-10">{{ field|add_class:"form-control" }}</div>
            {% if field.errors %}<div class="alert alert-error">{{ field.errors|striptags }}</div>{% endif %}
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">{% trans 'Установить пароль' %}</button>
        </div>
    </div>
</form>
{% endblock %}