{% load i18n %}{% trans 'Здравствуйте' %}' {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},
{% blocktrans %}
Вы получили это письмо, потому что вы (или кто-то другой)
отправили запрос на сроб пароля на сайте artela.net.  Если вы не хотите спросить пароль,
не обращайте внимания на это сообщение.

Чтобы сбросить ваш пароль, пожалуйста, перейдите по следующей ссылке или скопируйте и вставьте ее
в адресную строку браузера:{% endblocktrans %}

https://artela.co{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans %}Ваш логин, в случае, если вы забыли: {{ user }}



С уважением,
{{ site_name }} Администрация{% endblocktrans %}